.cart-page {
  display: grid;
}

.cart-container {
  display: grid;
  margin-top: 50px;
  width: 50%;
  justify-self: center;
  color: white;
  padding: 40px;
  background-color: rgba(85, 156, 219, 0.558);
  border-radius: 10px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 20px;
}

.checkout-img {
  height: 90%;
  width: auto;
}

.msg {
  display: flex;
  justify-content: center;
}

.total-price {
  font-weight: bold;
}

.error {
  border-top: solid 2px white;
  padding: 20px;
  margin: 20px;
}