.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(85, 98, 219);
}

.left-nav {
  display: flex;
  height: 100%;
}

.home-btn,
.cart-btn,
.store-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  cursor: pointer;
  background-color: rgb(85, 98, 219);
}

.title {
  color: white;
  font-size: 64px;
  margin-left: -75px;
}

.home-btn:hover,
.cart-btn:hover,
.store-btn:hover {
  filter: brightness(1.1);
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}