.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(85, 98, 219);
  border-bottom: solid 2px #80808091;
}

.home-btn,
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 100px;
  height: 100%;
  cursor: pointer;
  background-color: rgb(85, 98, 219);
}

.home-btn:hover,
.cart-btn:hover {
  filter: brightness(1.1);
}

.home-btn { 
  border-right: solid 2px #80808091;
}

.cart-btn {
  border-left: solid 2px #80808091;
}